node-red/flows_all_flows(4).json
[
    {
        "id": "fbb4856d0f0522f1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f2d9564175f3903",
        "type": "mqtt-broker",
        "name": "eu.hivemq.cloud",
        "broker": "d36b6378e3fc4b0ca6725112a64d3d59.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "c80603c327360862",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c80603c327360862",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "ad0803ce10464249",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4c5ad4d451f6ac09",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f899b39a437e021e",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "4c5ad4d451f6ac09",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3998207a848a7d8a",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "4c5ad4d451f6ac09",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b7b21fa4770d2e0",
        "type": "mqtt in",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "topic": "/messages",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f2d9564175f3903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "bc67d4542409b651",
                "978ccbe692c25b92"
            ]
        ]
    },
    {
        "id": "bc67d4542409b651",
        "type": "debug",
        "z": "fbb4856d0f0522f1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 20,
        "wires": []
    },
    {
        "id": "98ed6d0407450e88",
        "type": "mqtt in",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "topic": "comcs/g11/alerts",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7f2d9564175f3903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "e70607817da1cfc9",
                "1cbb7f6ccfd98301"
            ]
        ]
    },
    {
        "id": "e70607817da1cfc9",
        "type": "debug",
        "z": "fbb4856d0f0522f1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 520,
        "wires": []
    },
    {
        "id": "227715ab0119ab44",
        "type": "ui_chart",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "group": "f899b39a437e021e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "621bfcf595131bfb",
        "type": "ui_chart",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "group": "3998207a848a7d8a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "978ccbe692c25b92",
        "type": "json",
        "z": "fbb4856d0f0522f1",
        "name": "JSON PARSE",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "cfc3dd7cf1450b19",
                "fa2874460b65468c"
            ]
        ]
    },
    {
        "id": "cfc3dd7cf1450b19",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "GET TEMPERATURE",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "227715ab0119ab44"
            ]
        ]
    },
    {
        "id": "fa2874460b65468c",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "GET HUMIDITY",
        "func": "msg.payload = msg.payload.relativeHumidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "621bfcf595131bfb"
            ]
        ]
    },
    {
        "id": "1fae219a1372cc62",
        "type": "ui_toast",
        "z": "fbb4856d0f0522f1",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Alert",
        "name": "",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "3c3aa03dcf2f452d",
        "type": "ui_audio",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "group": "f899b39a437e021e",
        "voice": "Google US English",
        "always": true,
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "a01add47db8a8b0b",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "GET ALERT TEMPERATURE",
        "func": "msg.payload = \"A diferença da \" + msg.payload.type + \" é de \" + msg.payload.diff;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 420,
        "wires": [
            [
                "1fae219a1372cc62",
                "3c3aa03dcf2f452d"
            ]
        ]
    },
    {
        "id": "1cbb7f6ccfd98301",
        "type": "json",
        "z": "fbb4856d0f0522f1",
        "name": "JSON PARSE",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 300,
        "y": 420,
        "wires": [
            [
                "a01add47db8a8b0b"
            ]
        ]
    },
    {
        "id": "b8310a2373909a16",
        "type": "mqtt in",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "topic": "/messages/1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7f2d9564175f3903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1050,
        "y": 80,
        "wires": [
            [
                "76241371ad3be062",
                "7407d98a127ee63c"
            ]
        ]
    },
    {
        "id": "76241371ad3be062",
        "type": "debug",
        "z": "fbb4856d0f0522f1",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 20,
        "wires": []
    },
    {
        "id": "8e8995ad44a03bef",
        "type": "ui_chart",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "group": "f899b39a437e021e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1720,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9a41cf6b5fcf1fca",
        "type": "ui_chart",
        "z": "fbb4856d0f0522f1",
        "name": "",
        "group": "3998207a848a7d8a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1700,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7407d98a127ee63c",
        "type": "json",
        "z": "fbb4856d0f0522f1",
        "name": "JSON PARSE",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1240,
        "y": 240,
        "wires": [
            [
                "c874b35f5118a03d",
                "17011f9ef3727ab2"
            ]
        ]
    },
    {
        "id": "c874b35f5118a03d",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "GET TEMPERATURE",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 180,
        "wires": [
            [
                "8e8995ad44a03bef"
            ]
        ]
    },
    {
        "id": "17011f9ef3727ab2",
        "type": "function",
        "z": "fbb4856d0f0522f1",
        "name": "GET HUMIDITY",
        "func": "msg.payload = msg.payload.relativeHumidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 300,
        "wires": [
            [
                "9a41cf6b5fcf1fca"
            ]
        ]
    }
]